*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

/*---------------Container---------------*/
.container{
    background-color: #ecf0f1;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

/*---------------Content---------------*/
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 900px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 46%;
    height: 100%;
    z-index: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
    
}

/*---------------Formulario---------------*/
.formulario{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
}

.formulario input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1; 
}

input:-webkit-autofill {    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 5px;
}

.icon{
    padding: 0 5px;
}

/*---------------Titulo---------------*/
.titulo{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.titulo-primary{
    color: #fff;
}

.title-second{
    color: #58af9b;
}

/*---------------Descricao---------------*/
.descricao{
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.descricao-um{
    color: #fff;
}

.descricao-dois{
    color: #7f8c8d;
}

/*---------------Botao---------------*/
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
    margin-top: 1rem;
}

.btn-primary{
    padding: 10px 0;
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.8s;
}

.btn-primary:hover{
    background-color: #fff;
    color: #58af9b;
}

.btn-second{
    padding: 10px 0;
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color 0.8s;
}

.btn-second:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

/*---------------First Content---------------*/
.first-content{
    display: flex;
}

.first-content .second-column{
    z-index: 12;
}

.first-column{
    text-align: center;
    width: 46%;
    z-index: 10;
}

.second-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54%;
}

/*---------------Second Content---------------*/
.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}

.password{
    color:#34495e;
    font-size: 15px;
    margin: 15px 0;
}

/*---------------app.js/Entrar---------------*/
.entrar-js .first-content .first-column,
.entrar-js .first-content .second-column{
    z-index: -1;
}

.entrar-js .second-content .second-column{
    z-index: 12;
}

.entrar-js .second-content .first-column{
    z-index: 14;
}

.entrar-js .content::before{
    left: 54%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.2s;

    z-index: 13;
}

/*---------------app.js/Inscrever---------------*/
.inscrever-js .content::before{
    animation: slideout 1.2s;
    z-index: 14;
}

.inscrever-js .second-content .first-column,
.inscrever-js .second-content .second-column{
    z-index: -1;
}

.inscrever-js .first-content .second-column{
    z-index: 13;
}

.inscrever-js .first-content .first-column{
    z-index: 15;
}

/*---------------Animacao CSS---------------*/
@keyframes slidein{
    from{
        left: 0;
        width: 46%;
    }

    25%{
        left: 5%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 45%;
        width: 50%;
    }

    to{
        left: 54%;
        width: 46%;
    }
}

@keyframes slideout{
    from{
        left: 54%;
        width: 46%;
    }

    25%{
        left: 45%;
        width: 50%;
    }

    50%{
        left: 25%;
        width: 60%;
    }

    75%{
        left: 5%;
        width: 50%;
    }

    to{
        left: 0;
        width: 46%;
    }
}