*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content{
    background-color: #ffffff;
    border-radius: 15px;
    width: 900px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
}

.content::before{
    content: "";
    position: absolute;
    width: 47%;
    height: 100%;
    background-color: #58af9b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title{
    font-size: 28px;
    font-weight: bold;
}

.title-primary{
    color: #ffffff;
}

.title-second{
    color: #58af9b;
}

.description{
    /*font-size: 14px;
    font-weight: 300;*/
    line-height: 25px;
}

.desc-primary{
    color: #ffffff;
}

.description-second {
    color: #7f8c8d;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    width: 175px;
    align-self: center;
    border: none;
}

.btn-primary{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn-primary:hover{
    background-color: #ffffff;
    color: #58af9b;
    transition: background-color 0.5s;
}

.btn-second{
    margin-top: 5px;
    background-color: #58af9b;
    border: 1px solid #58af9b
}

.btn-second:hover{
    background-color: #ffffff;
    border: 1px solid #58af9b;
    color: #58af9b;
    transition: background-color 0.5s;
}

.first-content{
    display: flex;
    position: relative;
}

.first-content .second-column{
    z-index: 2;
}

.first-column{
    text-align: center;
    width: 47%;
    z-index: 1;
}

.second-column{
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 58%;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;  
    width: 100%;
}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 6px;
}

.icon{
    margin: 0 5px;
    width: 20px;
}

.forgot-password{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #34495e;
}

/*          -------------------            */

.second-content{
    position: absolute;
    display: flex;
}

.second-content .first-column{
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}


/* ----------          Animacao           ---------- */
/* --- Cadastrar --- */
.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column{
    z-index: -1;
}

.sign-up-js .second-content .second-column{
    z-index: 30;
}

.sign-up-js .second-content .first-column{
    z-index: 32;
}

.sign-up-js .content::before{
    left: 53%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: slideout 1.5s;

    z-index: 31;
}

.sign-in-js .content::before{
    animation: slidein 1.5s;

    z-index: 31;
}

/* --- Entrar --- */
.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column{
    z-index: -1;
}

.sign-in-js .first-content .second-column{
    z-index: 30;
}

.sign-in-js .first-content .first-column{
    z-index: 32;
}


/* -----           Animacao CSS            -----*/

@keyframes slideout{
    from {
        left: 0;
        width: 47%;
    }

    25% {
        left: 10%;
        width: 57%;
    }

    50% {
        left: 25%;
        width: 67%;
    }

    75% {
        left: 40%;
        width: 57%;
    }

    to{
        left: 53%;
        width: 47%;
    }
}

@keyframes slidein{
    from {
        left: 53%;
        width: 47%;
    }

    25% {
        left: 40%;
        width: 57%;
    }

    50% {
        left: 25%;
        width: 67%;
    }

    75% {
        left: 10%;
        width: 57%;
    }

    to{
        left: 0;
        width: 47%;
    }
}